<div class="card m-5 p-5" style="width: 18rem">
  <img
    [src]="profilePic"
    class="card-img-top"
    alt="profilePic"
    width="18rem"
    height="100px"
  />
  <div class="card-body">
    <h5 class="card-title">{{ firstName }}</h5>
    <h5 class="card-title">{{ lastName }}</h5>
    <h5 class="card-title">{{ phone }}</h5>
    <a [routerLink]="['/contact', id]" class="btn btn-outline-light">contact</a>
    <a
      class="nav-link"
      [routerLink]="['/edit', id]"
      class="btn btn-outline-light ml-1"
    >
      edit
    </a>
  </div>
</div>
