<nav class="navbar navbar-light fixed-top">
  <a class="navbar-brand font-weight-bold">Navbar</a>
  <form class="form-inline">
    <a class="nav-link" routerLink="/add">
      <button class="btn btn-outline-dark" type="button">ADD</button></a
    >
  </form>
</nav>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait</p>
</ngx-spinner>
<div class="container mt-5">
  <div class="row row-cols-3">
    <app-card
      *ngFor="let contact of list"
      [firstName]="contact.firstname"
      [lastName]="contact.lastname"
      [phone]="contact.phone"
      [id]="contact._id"
      [profilePic]="picture(contact.img.data.data)"
    ></app-card>
  </div>
</div>
